#root{
  background-color: rgb(221, 162, 91);
}

.me-auto {
  margin-right: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.row {
    justify-content: space-around
}
.navbar-collapse {
font-size: 23px;
}

